h1 {
    font-size: 10vmin;
    font-family: Avenir, sans-serif;
    font-weight: 900;
    text-align: center;
}


.text{
    background-color: #f39c12;
    max-width:500px;    
    min-height: 50px;

    /* // vw = viewport width - Dynamic      (1vw is 1/100th of the viewport width)
    // vh = viewport height  */
}



@media(max-width: 768px){       
    input{
      display: block;
    }
}
/* // at 768px or fewer the display will change for all input elements */